<a href="https://colab.research.google.com/github/MuntahaTazeem5/Basic-Python-Projects/blob/main/Multiplication_table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Generate and print the multiplication table for a number using a while loop.

ðŸ§­ Instructions:

Ask the user for a number.

Use a while loop to print the multiplication table from 1 to 10.

Format the output like: 5 x 1 = 5, etc.

Use a function print_table(num).

In [6]:
num=int(input("Enter the number: "))

Enter the number: 5

In [10]:
def print_table(num):
  i = 1
  while i <= 10:
    print(f"{num} x {i} = {num * i}")
    i = i + 1

In [11]:
print_table(num)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50